{% extends 'partials/layout.njk' %}
{% block title %}Home page{% endblock %}
{% block content %}
{% if name and age %}
    <h1>Hello {{ name }} you are {{age}} years old!</h1>
{% endif %}
<h1>a<sup>2</sup> + b<sup>2</sup> = c<sup>2</sup><h1>

<form action="/" method="">
        <div class="mb-3">
  <label for="sideA" class="form-label">A</label>
  <input type="number" class="form-control" name="sideAgo" id="sideA" placeholder="a">
    </div>
    <div class="mb-3">
  <label for="sideB" class="form-label">B</label>
  <input type="number" min="0" max="150" class="form-control" name="sideB" id="age" placeholder="b">
</div>
<div class="mb-3">
    <input type="submit" class="btn btn-primary">
    </div>
</form>
{% endblock %}
